set default="0"
set timeout=30

if loadfont /usr/share/grub/unicode.pf2; then
    set gfxmode=auto
    insmod efi_gop
    insmod efi_uga
    insmod gfxterm
    terminal_output gfxterm
fi

set menu_color_normal=cyan/black
set menu_color_highlight=white/black

menuentry "Boot NeoArch Linux" {
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-zen archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% quiet splash loglevel=3 udev.log_priority=3 nowatchdog
    initrd /%INSTALL_DIR%/boot/x86_64/intel-ucode.img /%INSTALL_DIR%/boot/x86_64/amd-ucode.img /%INSTALL_DIR%/boot/x86_64/initramfs-linux-zen.img
}

menuentry "Boot NeoArch Linux (Hardware Detection)" {
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-zen archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% nomodeset
    initrd /%INSTALL_DIR%/boot/x86_64/intel-ucode.img /%INSTALL_DIR%/boot/x86_64/amd-ucode.img /%INSTALL_DIR%/boot/x86_64/initramfs-linux-zen.img
}

menuentry "Boot NeoArch Linux (Copy to RAM)" {
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-zen archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% copytoram quiet splash
    initrd /%INSTALL_DIR%/boot/x86_64/intel-ucode.img /%INSTALL_DIR%/boot/x86_64/amd-ucode.img /%INSTALL_DIR%/boot/x86_64/initramfs-linux-zen.img
}

menuentry "Run Memtest86+" {
    linux /%INSTALL_DIR%/boot/memtest86+/memtest
}

menuentry "Boot existing OS" {
    insmod part_gpt
    insmod chain
    set root=(hd0,1)
    chainloader /EFI/Microsoft/Boot/bootmgfw.efi
}

menuentry "Shutdown" {
    halt
}

menuentry "Reboot" {
    reboot
}
